* {
  margin: 0;
  padding: 0;

}

/*Always design for mobile first*/
body {
  font-family: sans-serif;
  margin: 0 auto;
  /*Take cares of the white space's, so we can create and design*/
}

header {
  text-align: center;
  background-color: lightblue;
}

nav {
  margin-top: 0px;
  /*My input on nav*/
  background: black;
}

nav ul {
  /*unordered list*/
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
/*Mobile 1st*/
nav a {
  color: white;
  font-weight: bold;
  display: block;
  padding: 10px;
  text-decoration: none;
}

nav a:hover {
  color: orange;
}

.intro {
  padding: 0 15px;
  margin-top: 30px;
  margin-bottom: 5px;
}

.intro h1 {
  margin-bottom: 15px;
}

.intro p {
  line-height: 1.5;
}

.picGrids {
  margin-bottom: 20px;
}

.gridPicture {

  border: 1px solid black;
  padding: 15px;
  margin: 10px;
}

/*About Us Intro Page*/
.introAboutUs {
  padding: 0 15px;
  margin-top: 30px;
  margin-bottom: 320px;
}

.introAboutUs h1 {
  margin-bottom: 15px;
}

.introAboutUs p {
  line-height: 1.5;
}





@keyframes picAnimation {
  from {
    background-color: white;
    color: black;
    border-width: 1px;
    padding: 10px;
  }

  to {
    background-color: black;
    color: white;
    border-width: 5px;
    padding: 8px;
  }
}

.gridPicture:hover {
  animation: picAnimation 2s;

}

.gridPicture h2,
a {
  color: black;
  font-size: 17px;
  text-decoration: none;
}

.gridPicture h2,
a:hover {
  color: white;
}

.gridPicture img {
  width: 100%;
}

.original-price {
  text-transform: uppercase;
  color: gray;
}

.currentPrice {
  text-transform: capitalize;
  color: black;
}
.currentPrice span{
  font-weight: bold;
  text-decoration: underline;
}

.saving {
  color: green;
}

footer {
  background: black;
  margin: 5px;
  padding: 15px;
}

footer p {
  color: white;
}

@media (min-width:768px) {
  header {
    display: flex;
    align-items: center;
  }

  .grayline {
    padding: 8px;
    display: flex;
    background: lightgray;
  }

  nav {
    margin-top: 0px;
    background: transparent;

  }

  nav ul {
    display: flex;
    /*Will flex with the display size*/
    list-style: none;
    /*No */
    align-items: center;
    justify-content: center;

  }

  nav a {
    margin-top: 0%;
    color: black;
    position: relative;
    text-decoration: none;
    top: 0;
    transition: top 0.5s, color 0.5s;
  }

  nav a:hover {
    color: red;
    top: 8px;

  }

  .intro {
    width: 50%;

  }

  .picGrids {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
  }

  .gridPicture {
    display: inline;

  }

}
.center {
  text-align: center;
}

.title {
  margin: 30px 0;
}

/* Contact */

section {
    padding: 50px;
}

.center {
    text-align: center;
}

.title {
    margin: 30px 0;
}

@media (min-width: 768px) {
    .box {
        width: 50%;
        margin: 0 auto;
    }
}

.box {
    box-shadow: 0 0 10px #888888;
    padding: 10px;
}

.inp {
    width: 100%;
    padding: 8px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
}

.formrow {
    padding: 10px;
}

form label {
    display: block;
    padding-bottom: 5px;
}

.bold {
    font-weight: 600;
}

#activities {
    display: none;
}

.btn {
    padding: 10px 20px;
    border: 1px solid #82d9f7;
    background-color: lightblue;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
}

    .btn:hover {
        background-color: #82d9f7;
    }
